* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #9564FE;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}




/* Header and Navigation Styling */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: default;
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: .3s; /* Adds a smooth transition to loading, and color change on hover*/
}

.navbar > .active {
    color: var(--main-color);
}
.navbar a:hover {
    color: var(--main-color);
}


/* Building out the hero section of the Home Page */
section {
    min-height: 100vh;
    cursor: pointer;
    padding: 10rem 9% 2rem;

}

#menu-icon {
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}




/* Styling the social media icons */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem; /* changes the size of the icons as it's treated as a "font" */
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0; /* Margin top, bottom, right, left */
    transition: .5s ease; /* makes the color fade in nicely */

}

.social-media a:hover {
    /* swaps the colors around to give a nice effect when hovered! */
    background: var(--main-color);
    color: var(--bg-color); 
    box-shadow: 0 0 1rem var(--main-color);
}